@font-face {
    font-family: 'Dry Brush';
    src: url('DryBrush.eot');
    src: url('DryBrush.eot?#iefix') format('embedded-opentype'),
        url('DryBrush.woff2') format('woff2'),
        url('DryBrush.woff') format('woff'),
        url('DryBrush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

